<div class="container-fluid">
    <div class="row bg-dark text-wite p-5">

        <footer class="container py-5 bg-dark text-white">
            <div class="row">
                <div class="col-12 col-md text-white ">
                    <img class="rounded-circle mx-auto d-block logo m-4" src="/src/public/img/logo.png" alt="Logo">
                    <small class="d-block mb-3 text-muted text-white">&copy; 2019-2020</small>
                </div>
                <div class="col-6 col-md text-white">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small text-white">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md text-white">
                    <h5>Descarga la app</h5>
                    <ul class="list-unstyled text-small text-white">
                        <li><a class="text-muted" href="#">Apple Store</a></li>
                        <li><a class="text-muted" href="#">Play Store</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md text-white">
                    <h5>Redes Sociales</h5>
                    <ul class="list-unstyled text-small text-white">
                        <li><a class="text-muted" href="#">Business</a></li>
                        <li><a class="text-muted" href="#">Education</a></li>
                        <li><a class="text-muted" href="#">Government</a></li>
                        <li><a class="text-muted" href="#">Gaming</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md text-white">
                    <h5>Terminos & condiciones</h5>
                    <ul class="list-unstyled text-small text-white">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>

</div>