<div class="text-center">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-4 mx-auto card animated flipInY ">
        <div class="card mt-4 text-center ">
          <div class="card-header bg-dark text-white">
            <h1 class="h4">
              Account Login
            </h1>
          </div>
          <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo.png" alt="Logo">
          <div class="card-body">
            <form action="/users/signin" method="POST">
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              <p class="mt-5 mb-3 text-muted">&copy; 2019-220</p>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>